/* General stylings for all html files. */
html {
    font-family: Arial;
}

#centre {
    text-align: center;
}

.clearFormat {
    text-decoration: none;
}

header {
    background-color: #004080;
    padding: 20px;
    margin: 0px;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    background-color: #003366;
    padding: 10px;
}

.navBarItems {
    text-decoration: none;
    color: white;
}

.navBarItems:hover {
    text-decoration: underline;
}

h2 {
    color: #003366;
}

/* Stylings for homepage (index.html) */
.index {
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    margin: 20px; /* This creates the whitespace around the grey space. */
}


/* Stylings for login page. */
.loginForm {
    display: flex;
    text-align: center;
    background-color: #d4d4d4;
    padding: 30px;
    margin: 0px 150px;
    border-radius: 30px;
    flex-direction: column;
    box-shadow: 5px 5px;
}

.inputFields {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    border-color: darkgray;
    border-width: 3px;
    width: 300px;
}

.loginLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.loginButton {
    background-color: #008000;
    color: white;
    padding: 10px;
    border-width: 0px;
    border-radius: 5px;
}

.loginButton:hover {
    background-color: #006600;
}

.passwordLink {
    display: flex;
    color: #004080;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.passwordLink:hover {
    text-decoration: underline;
}


/* Stylings for attempt_quiz page. */
.quizBanner {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.details {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    margin: 0px 250px;
}

.questions {
    text-align: center;
}

.answers {
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: #cacaca;
    padding: 10px;
    width: 250px;
}

.answerElement {
    text-align: left;
}

.submit {
    display: flex;
    justify-self: center;
    background-color: lightblue;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
}

.submit:hover {
    background-color: darkblue;
    color: white;
}

.finish {
    display: flex;
    justify-self: center;
    background-color: #d32f2f;
    color: white;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
}

.finish:hover {
    background-color: #821b1b;
}