header {
    background-color: #004080;
    padding: 20px;
    margin: 0px;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    background-color: #003366;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}