/* Header */
header {
    background-color: #004080; /* Deep blue */
    color: white;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align logo left, text right */
}

/* Navigation Bar */
nav {
    background-color: #003366; /* Dark blue */
    padding: 10px;
    display: flex;
    justify-content: space-around; /* Even spacing */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
}

/* Footer */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Main Content */
main {
    padding: 20px;
    text-align: center;
    align-items: center;
    
    margin: 20px auto;
    max-width: 90%;
}