.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  width: 400px;
  padding: 1rem;
  border-width: 5px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 1px;
}

.flexItem {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.submit {
  background-color: #007BFF;
  color: white;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  width: 100%;
}

.submit:hover {
  background-color: darkblue;
}

.message {
  color: red;
}

.textInput {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  background-color: #f8f9fa;
}